{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <!-- Google sign- in to be implemented (domain required for that)
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="698634853859-jaftn2jq3fsmv4p08v3s5n7j1j9m1177.apps.googleusercontent.com">-->
    
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
