.row
{
    margin-top: 0;
}
.row>*
{
    margin-top: 0;
}
.custom2
{
    display:flex;
    flex-wrap:wrap;
}

.form-control-plaintext
{
    pointer-events: none;
    text-align: center;
    font-size: 30px;
}
.body{
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}
.frame{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin-left:auto;
    margin-right:auto;
    width: 300px;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.half{
    width:50%;
}
.full{
    display:flex;
}
.col-auto{
    margin-left:1rem;
    margin-right: 1rem;
}
.custom1{
    max-width: 1000px;
    width:auto;
    padding: 1rem;
}
.table
{   
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    max-width: 800px;
}