{% extends "layout.html" %}

{% block title %}
    Saved
{% endblock %}

{% block main %}
<form action="/saved" method="post" id="compareForm"></form>
    <table class="table frame">
        <thead>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Monthly price</th>
            <th>Compare</th>         
        </thead>
        <tbody>
            {% for row in carsT %}
            <tr>
                <td>{{row['manufacturer']}}</td>
                <td>{{row['model']}}</td>
                <td>{{row['mRunCost']}}</td>
                <td>
                    <input type="checkbox" name="car_checkbox" form="compareForm" value="{{row['id']}}">
                </td>
                <td>
                    <form id="editForm" action="/edit" method="post"></form>
                    <button type ="submit" value="{{row['id']}}" name="edit" form="editForm" class="btn btn-secondary">Edit</button>
                </td>
                <td>
                    <form id="deleteForm" action="/delete" method="post"></form>
                    <button type ="submit" value="{{row['id']}}" name="delete" form="deleteForm" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary" form="compareForm">Compare</button>
{% if max3 %}
<div class="alert alert-danger" role="alert">
    {{max3}}
</div>
{% endif %}
{% if carCompTable %}
<table class="frame table">
    <thead>
        <th></th>
        {% for row in carCompTable %}
            <th>{{row['manufacturer']}} <br> {{row['model']}} <br> {{row['reg_year']}}</th>
        {% endfor %}
    </thead>
    <tbody>
        <tr>
            <td>Fuel Consumption:</td>
            {% for row in carCompTable %}
            <td>{{row['fConsumption']}}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Fuel type</td>
            {% for row in carCompTable %}
            <td>{{row['fType']}}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Fuel price:</td>
            {% for row in carCompTable %}
            <td>{{row['fPrice']}}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Km driven per year:</td>
            {% for row in carCompTable %}
            <td>{{row['kmPy']}}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Tax:</td>
            {% for row in carCompTable %}
            <td>{{row['tax']}}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Yearly insurance:</td>
            {% for row in carCompTable %}
            <td>{{row['insurance']}}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Oil change:</td>
            {% for row in carCompTable %}
            <td>{{row['oil']}}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Service:</td>
            {% for row in carCompTable %}
            <td>{{row['service']}}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Tyres:</td>
            {% for row in carCompTable %}
            <td>{{row['tyres']}}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Parking and fees:</td>
            {% for row in carCompTable %}
            <td>{{row['parking']}}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Monthly payment:</td>
            {% for row in carCompTable %}
            <td>{{row['mPayment']}}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Initial payment:</td>
            {% for row in carCompTable %}
            <td>{{row['initPayment']}}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Expected selling price:</td>
            {% for row in carCompTable %}
            <td>{{row['expSellingPrice']}}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Years planned to drive:</td>
            {% for row in carCompTable %}
            <td>{{row['yearsToHave']}}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Monthly running cost:</td>
            {% for row in carCompTable %}
            <td>{{row['mRunCost']}}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>
{% endif %}

{% endblock %}